In [13]:
# Libraries 
import MetaTrader5 as mt5
import pandas as pd
import plotly.express as px
from datetime import datetime

In [ ]:
# login to Trade Account with login()
# make sure that trade server is enab

login = 8888545312
password = 'p8eiffui'
server = 'HYCM-Live'

mt.login(login, password, server)

In [14]:
# connect to Mettform with initialize()
mt5.initialize()

True

In [28]:
# ohlc_data
ohlc_data = pd.DataFrame(mt5.copy_rates_range("XAUUSD", 
                                             mt5.TIMEFRAME_D1, 
                                             datetime(2020, 1, 1), 
                                             datetime.now()))

# fig = px.line(ohlc_data, x=ohlc_data['time'], y=ohlc_data['close'])
# fig.show()



df=ohlc_data
#df.to_csv('XAUUSD3107.csv')

In [29]:
df['time'] = pd.to_datetime(df['time'], unit='s')#pd.to_datetime(df['time'])
display(df)
# df['time']=pd.to_datetime(df['time'])
# df.set_index("time", inplace=True)
# df=df[df.high!=df.low]
# len(df)
df.to_csv('XAUUSD3107.csv')

,time,open,high,low,close,tick_volume,spread,real_volume
0,2020-01-02,1520.26,1531.32,1518.38,1528.84,56188,14,0
1,2020-01-03,1529.11,1553.43,1528.95,1551.44,94380,14,0
2,2020-01-05,1575.89,1582.09,1566.91,1569.08,6681,18,0
3,2020-01-06,1569.07,1579.96,1560.70,1563.53,113010,13,0
4,2020-01-07,1563.74,1598.38,1555.23,1595.00,103119,7,0
...,...,...,...,...,...,...,...,...
1106,2023-07-26,1965.16,1978.23,1961.87,1971.84,108997,35,0
1107,2023-07-27,1971.85,1982.03,1942.49,1947.26,120350,35,0
1108,2023-07-28,1947.26,1963.41,1945.88,1958.93,116617,35,0
1109,2023-07-30,1959.29,1960.37,1957.25,1957.83,4060,35,0
1110,2023-07-31,1957.83,1958.78,1950.77,1955.31,38489,35,0